<h1>Your Cart</h1>

<% @cart.orderables.each do |orderable| %>
  <% product = orderable.product %>
  <p><%= product.name %> * <%= orderable.quantity %> = <%= orderable.total %></p>
<% end %>

<p>Your total is <%= @cart.total %></p>